{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/league.css' %}">
    <title>Dorito Stats</title>
  </head>

  <body>
    <h1>Welcome to Dorito Stats!</h1>
    
    <h2>{{league_info.league_name}}: Week {{ league.current_week }}</h2>
      <p>League ID: {{league_info.league_id}}</p>
      <p>League year: {{league_info.league_year}}</p>
      <p>SWID: {{league_info.swid|truncatechars:10}}</p>
      <p>ESPN s2: {{league_info.espn_s2|truncatechars:10}}</p>  
      <hr>



  {# Weekly Awards #}
  <div class="wrapper">
  <h2>Weekly awards</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Award</div>
        <div class="cell">Winner</div>
        <div class="cell">Award</div>
        <div class="cell">Loser</div>
      </div>

      {# Table elements #}
      {% for r in weekly_awards %}
      <div class="row">
        <div class="cell" data-title="Award"> {{ r.best_label }} </div>
        <div class="cell" data-title="Winner"> {{ r.best_owner }} </div>
        <div class="cell" data-title="Award"> {{ r.worst_label }} </div>
        <div class="cell" data-title="Loser"> {{ r.worst_owner }}</div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Power Rankings #}
  <div class="wrapper">
  <h2>Power Rankings</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Power Ranking</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  power_rankings%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Power Ranking"> {{ r.value }} </div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Luck Index #}
  <div class="wrapper">
  <h2>Luck Index</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Luck Index</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  luck_index%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Luck Index"> {{ r.value }} </div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Luck Index #}
  <div class="wrapper">
  <h2>Standings</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Wins</div>
        <div class="cell">Losses</div>
        <div class="cell">Ties</div>
        <div class="cell">Points For</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  standings%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Wins"> {{ r.wins }} </div>
        <div class="cell" data-title="Losses"> {{ r.losses }} </div>
        <div class="cell" data-title="Ties"> {{ r.ties }} </div>
        <div class="cell" data-title="Points For"> {{ r.points_for }} </div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>

  </body>
</html>

