/* Add this to your 'fantasy_stats/css/footer.css' file */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-icons img {
    width: 32px;
    margin: 0 10px;
    /* Add spacing between icons */
}

.footer-text p {
    font-size: 14px;
    margin: 0;
}