# Distribution / packaging
.env
*__pycache__*
*.DS_Store
.vscode*
dist/*
node_modules/*
staticfiles/*
static/*

# Notebooks
*.ipynb_checkpoints*
*new espn.ipynb
src/new espn.ipynb
website.ipynb
dev.ipynb

src/tmp.csv
all_league_creds.csv
draft_history.csv
*historical_stats.csv
historical_stats_all_teams.csv
league_info_backup.csv
*copy.csv
tmp.csv
