# Distribution / packaging
.env

*__pycache__*
*.ipynb_checkpoints*
.DS_Store
.vscode*
dist/*
*historical_stats.csv
*new espn.ipynb
src/new espn.ipynb
draft_history.csv
src/.DS_Store
league_info_backup.csv
src/tmp.csv
website.ipynb
