{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'twitter_sentiment/css/sentiment.css' %}">
    {% comment %} <style>{% include static 'twitter_sentiment/css/sentiment.css'%}</style> {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'twitter_sentiment/img/favicon.png' %}" />
    <title>Dorito Stats | Twitter Sentiment Analysis</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45P4BQ6XJR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-45P4BQ6XJR');
    </script>

  </head>

  
  <body>
    <h1>Welcome to Dorito Stats!</h1>
    <hr>

    {% comment %} <p>Authorization successful: {{authenticated}}</p> {% endcomment %}
    {# Enter league details manually to add to the database #}
    {% comment %} <h2>League Details</h2> {% endcomment %}

    <h3>Twitter query</h3>
    <p>Enter a search word/phrase and press 'run analysis'. 
    The 250 most recent tweets containing the query will be fetched and analyzed.</p>
      <form method="POST" action="{% url 'twitter_sentiment:query_input' %}">
        {% csrf_token %}
        <label>Query: </label><br>
        <input type="text" name="query"><br>
        <button type="submit">Run analysis</button>
      </form>
      
      {% if tweets is not None%}
      {% comment %}  Sentiment score results {% endcomment %}
      {% comment %}  Donut chart {% endcomment %}
      {% comment %} <div class="box">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="num">
            <h2>{% {{ perc_pos }} * 100 %}<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">Sentiment</h2>
      </div> {% endcomment %}

      {% comment %} Aggregate score {% endcomment %}
        <p>(scale from -1 to 1) Aggregated sentiment score: <strong>{{ agg_sent }}</strong> <span>&#177;</span> {{ agg_unc }}</p>
        <ul>
        {% for tweet in tweets %}
            <li>{{ tweet }}</li>
        {% endfor %}
        </ul>
      <hr>
      {% endif %}

    

  </body>
</html>

