.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}