.wrapper-wide {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
}

.table {
  margin: 0 0 40px 0;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  text-align: center;
  font-family: Arial, sans-serif; /* Default font for the table */
  table-layout: auto; /* Allow columns to adjust width based on content */
}

.table th.team-name-column, .table td.team-name-column {
  white-space: nowrap; /* Prevent wrapping of text */
  width: 1%; /* Shrink to fit the content */
}

.table th{
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #000000; /* Light gray for odd rows */
  color: #ffffff; /* White for even rows */
}

.table th, .table td {
  padding: 5px 5px 5px 20px; /* Add 10px left padding */
  text-align: center; /* Center align all text */
  border: 1px solid #ddd;
}

.table .score-column {
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for the score column */
  font-weight: bold; /* Make the font bolder */
}

.table .odd-row {
  background-color: #d6ded3; /* Light gray for odd rows */
  text-align: center;
  padding-left: 10px; /* Add 10px left padding */
}

.table .even-row {
  background-color: #ffffff; /* White for even rows */
  text-align: center;
  padding-left: 10px; /* Add 10px left padding */
}

.table tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
    margin: 0 auto 40px auto;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #d7e0d2;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #333b36;
}

.row.green {
  background: #27ae60;
}

.row.blue {
  background: #2980b9;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell {
    margin-bottom: 10px;
  }

  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
