{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'fantasy_stats/css/league.css' %}" />
    <link rel="stylesheet" href="{% static 'fantasy_stats/css/footer.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'fantasy_stats/img/favicon.png' %}" />
    <title>Dorito Stats | All leagues in database</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45P4BQ6XJR"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      
      gtag('config', 'G-45P4BQ6XJR')
    </script>
  </head>
  <body>
    <h1>Leagues existing in the database</h1>
    <ul>
      {% for league in leagues %}
        <li>
          {{ league.league_year }} - {{ league.league_name }} - League ID = <a href="/fantasy_stats/league/{{ league.league_year }}/{{ league.league_id }}/">{{ league.league_id }}</a>)
        </li>
      {% endfor %}
    </ul>

    <footer>
      <div class="container">
        <div class="footer-content">
          <div class="footer-text">
            <p>For suggestions or feature requests, please connect with us on GitHub or LinkedIn.</p>
          </div>
          <div class="footer-icons">
            <a href="https://github.com/DesiPilla/espn-api-v3" target="_blank"><img src="{% static 'fantasy_stats/img/github-icon.svg' %}" alt="GitHub" /></a>
            <a href="https://www.linkedin.com/in/desipilla/" target="_blank"><img src="{% static 'fantasy_stats/img/linkedin-icon.svg' %}" alt="LinkedIn" /></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
