{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'fantasy_stats/css/league.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'fantasy_stats/img/favicon.png' %}" />
    <title>Dorito Stats | All leagues in database</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45P4BQ6XJR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-45P4BQ6XJR');
    </script>

  </head>
  <body>
    <div id="warning">
      <h1>WE HAVE MOVED</h1>
      <p class="warning">Our website has been hosted on Heroku since it launched in October 2021.</p>
      <p class="warning">Unfortunately, Salesforce <a
          href="https://www.techtarget.com/searchsoftwarequality/news/252524336/Heroku-to-end-free-tiers-creating-platform-void-for-devs">recently
          announced</a> that it will be shutting down it's free-tier.</p>
      <p class="warning">This means that we have to find a new place to host doritostats.</p>
      <p class="warning">Beginning on Nov 28th, 2022, this site will NO LONGER EXIST.</p>
      <!-- <br> -->
      <h1>
        Please visit the <a href="https://doritostats-72na.onrender.com/fantasy_stats/">NEW SITE</a>.
      </h1>
    </div>
    <hr>
    <h1>Leagues existing in the database</h1>
    <ul>
    {% for league in leagues %}
        <li><a href="/fantasy_stats/league/{{ league.league_year }}/{{ league.league_id }}/">{{ league.league_name }}</a> ({{ league.league_year }}, id={{league.league_id}})</li>
    {% endfor %}
    </ul>
  </body>
</html>