{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'fantasy_stats/css/league.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'fantasy_stats/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'fantasy_stats/css/footer.css' %}">
    <title>Dorito Stats | ESPN Fantasy Football Stats</title>

    <!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "fantasy_stats/js/league.js" %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45P4BQ6XJR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-45P4BQ6XJR');
    </script>
  </head>

  
  <body>
    <h1>Welcome to Dorito Stats!</h1>
    <hr>

    <div>
      <h2>Select your league</h2>
      {# Choose if league is from the current season or a previous season #}
      <div>
        <label>Search for leagues in the 
              <label><input type="radio" name="current-or-previous-season" value="select-from-current-year" checked>Current season</label>
              <label><input type="radio" name="current-or-previous-season" value="select-from-previous-year">Previous season</label>
        </label>
      </div>

      {# Dropdown list containing all leagues in database from current year #}
      <div class="select" id="select-from-current-year">
        <select name="league-select" id="league-select" onchange="location = this.value">   
          <option value="/fantasy_stats/"> - Select your league - </option>
          {% for league in leagues_current_year %}
            <option value="/fantasy_stats/league/{{ league.league_year}}/{{ league.league_id }}">{{ league.league_id  }} - {{ league.league_name}} ({{ league.league_year}})</option>
          {% endfor %}
        </select>
        <span class="focus"></span>
      </div>

      {# Dropdown list containing all leagues in database from previous years #}
      <div class="unselected-field" style="display: inline-block;" id="select-from-previous-year">
        <select name="league-select" id="league-select" onchange="location = this.value">   
          <option value="/fantasy_stats/"> - Select your historical league - </option>
          {% for league in leagues_previous_year %}
            <option value="/fantasy_stats/league/{{ league.league_year}}/{{ league.league_id }}">{{ league.league_id  }} - {{ league.league_name}} ({{ league.league_year}})</option>
          {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
    </div>
    
    <br>
    <hr>

    {# Enter league details manually to add to the database #}
    {% comment %} <h2>League Details</h2> {% endcomment %}
    <h3>Don't see your league? Add it manually by entering your league's details below.</h3>
    <div>
      <form method="POST" action="{% url 'fantasy_stats:league_input' %}">
        {% csrf_token %}
        <label>League ID: </label><br>
        <input type="text" name="league_id"><br>
        <label>League year: </label><br>
        <input type="number" min="2017" name="league_year", value=2023><br> 
        <label>SWID: </label> <br>
        <input type="password" name="swid", value=''><br>
        <label>ESPN s2: </label><br>
        <input type="password" name="espn_s2", value=''><br><br>
        <button type="submit">Fetch league</button>
      </form>
      <hr>

      <h3><em>Don't know your SWID or espn_s2? (instructions for Mac / PC)</em></h3>
      <p>
        <ol>
          <li>Log into your espn fantasy football account at <a href='https://www.espn.com/fantasy/football/'>https://www.espn.com/fantasy/football/</a>.</li>
          <li>Right click anywhere on the screen (Chrome browser only) and click <em>Inspect</em>.</li>
          <li>In the window that appears on the right, click <em>Application</em> on the top bar (you may have to click the dropdown arrow next to <em>Elements, Console, Sources...</em>).</li>
          <li>On the left, navigate to </em>Storage > Cookies > http://fantasy.espn.com</em>.</li>
          <li>Scroll down in the table to the right until you find <strong>SWID</strong>. Copy & paste the alphanumeric string in the the <em>Value</em> column (without the curly brackets).</li>
              It should look something like: <em>43B70875-0C4B-428L-B608-759A4BB28FA1</em>
          <li>Next, keep scrolling until you find <strong>espn_s2</strong>. Again, copy and paste the alphanumeric string in the <em>Value</em> column. This code will be much longer and won't have curly brackets in it.</li>
        </ol>
      </p>
    </div> 
    
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-text">
                    <p>For suggestions or feature requests, please connect with us on GitHub or LinkedIn.</p>
                </div>
                <div class="footer-icons">
                    <a href="https://github.com/DesiPilla/espn-api-v3" target="_blank">
                        <img src="{% static 'fantasy_stats/img/github-icon.svg' %}" alt="GitHub">
                    </a>
                    <a href="https://www.linkedin.com/in/desipilla/" target="_blank">
                        <img src="{% static 'fantasy_stats/img/linkedin-icon.svg' %}" alt="LinkedIn">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
