{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'fantasy_stats/css/league.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'fantasy_stats/img/favicon.png' %}" />
    <title>Dorito Stats | {{league_info.league_name}}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45P4BQ6XJR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-45P4BQ6XJR');
    </script>
    
  </head>

  <body>
    <h1>Welcome to Dorito Stats!</h1>
    
    <h2>{{league_info.league_name}}</h2>
    <p>League ID: {{league_info.league_id}}</p>
    <p>League year: {{league_info.league_year}}</p>

    {% comment %} Select a different week {% endcomment %}
    <div class="select">
      <select name="league-select" id="league-select" onchange="location = this.value">   
      {% comment %} Add an option for all previous weeks {% endcomment %}
      {% for week in 1|range:league.current_week %}
          {% if week == page_week %}
              {% comment %} If the previous week is the one currently displayed, have it auto-selected {% endcomment %}
              <option value="/fantasy_stats/league/{{ league_info.league_year}}/{{ league_info.league_id }}/week={{ week }}" selected>Week {{ week }}</option>
          {% else %}
              {% comment %} Otherwise, have it not auto-selected {% endcomment %}
              <option value="/fantasy_stats/league/{{ league_info.league_year}}/{{ league_info.league_id }}/week={{ week }}">Week {{ week }}</option>
          {% endif %}
      {% endfor %}
          {% comment %} Add option for current week {% endcomment %}
          {% if page_week == league.current_week %}
              {% comment %} If the current week is the one currently displayed, have it auto-selected {% endcomment %}
              <option value="/fantasy_stats/league/{{ league_info.league_year}}/{{ league_info.league_id }}/" selected> Week {{ league.current_week }}</option>
          {% else %}
              {% comment %} Otherwise, have it not auto-selected {% endcomment %}
              <option value="/fantasy_stats/league/{{ league_info.league_year}}/{{ league_info.league_id }}/"> Week {{ league.current_week }}</option>
          {% endif %}
      </select>
      <span class="focus"></span>
    </div>
    <br>
    <a href="/fantasy_stats/">Return to home page</a>
    <hr>


  {% comment %} Current week scores {% endcomment %}
  <div class="wrapper">
  <h2>Scores</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Away</div>
        <div class="cell">Score</div>
        <div class="cell"> </div>
        <div class="cell">Score</div>
        <div class="cell">Home</div>
      </div>

      {# Table elements #}
      {% for r in box_scores %}
      <div class="row">
        <div class="cell" data-title="Award"> {{ r.away_team.team_name }} </div>
        <div class="cell" data-title="Winner"> {{ r.away_score }} </div>
        <div class="cell" data-title="Award"> - </div>
        <div class="cell" data-title="Award"> {{ r.home_score }} </div>
        <div class="cell" data-title="Loser"> {{ r.home_team.team_name }}</div>
      </div>
      {% endfor %}

    </div>
  </div>

  {# Weekly Awards #}
  <div class="wrapper">
  <h2>Weekly awards</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Award</div>
        <div class="cell">Winner</div>
        <div class="cell">Award</div>
        <div class="cell">Loser</div>
      </div>

      {# Table elements #}
      {% for r in weekly_awards %}
      <div class="row">
        <div class="cell" data-title="Award"> {{ r.best_label }} </div>
        <div class="cell" data-title="Winner"> {{ r.best_owner }} </div>
        <div class="cell" data-title="Award"> {{ r.worst_label }} </div>
        <div class="cell" data-title="Loser"> {{ r.worst_owner }}</div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Power Rankings #}
  <div class="wrapper">
  <h2>Power Rankings</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Power Ranking</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  power_rankings%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Power Ranking"> {{ r.value }} </div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Luck Index #}
  <div class="wrapper">
  <h2>Luck Index</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Luck Index</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  luck_index%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Luck Index"> {{ r.value|floatformat:"0" }}%</div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>



  {# Luck Index #}
  <div class="wrapper">
  <h2>Standings</h2>
    <div class="table"> 

      {# Table header #}
      <div class="row header">
        <div class="cell">Team</div>
        <div class="cell">Wins</div>
        <div class="cell">Losses</div>
        <div class="cell">Ties</div>
        <div class="cell">Points For</div>
        <div class="cell">Owner</div>
      </div>

      {# Table elements #}
      {% for r in  standings%}
      <div class="row">
        <div class="cell" data-title="Team"> {{ r.team }} </div>
        <div class="cell" data-title="Wins"> {{ r.wins }} </div>
        <div class="cell" data-title="Losses"> {{ r.losses }} </div>
        <div class="cell" data-title="Ties"> {{ r.ties }} </div>
        <div class="cell" data-title="Points For"> {{ r.points_for }} </div>
        <div class="cell" data-title="Owner"> {{ r.owner }} </div>
      </div>
      {% endfor %}

    </div>
  </div>

  </body>
</html>
